body {
    background-color: beige;
}

.hero-section {
    background: url('./heehaw.jpg') no-repeat center center;
    opacity: 10%;
    background-size: cover;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.danger {
    color: black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
    text-align: center;
}

.carousel-item {
    height: 400px;
    width: 500px;
    margin-left: 500px;
    margin-top: 25px;
}

.kk {
    width: 200px;
    height: 150px;
}

.pp {
    width: 400px;
    height: 350px;
}

.portfolio-item {
    margin-bottom: 30px;
}

.portfolio-item img {
    max-width: 100%;
    border-radius: 10px;
    background-size: contain;
}